<ion-view title="Login" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input item-floating-label" id="login-input1">
          <input type="email" placeholder="email" ng-model="username">
        </label>
        <label class="item item-input item-floating-label" id="login-input2">
          <input type="password" placeholder="password" ng-model="password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 7px;"></div>
      <a id="login-button1" class="button button-positive  button-block" ng-click="login(username, password)">Log in</a>
      <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>