<ion-view title="Login form" hide-nav-bar="true" nav-transition="none" id="page3">
  <ion-content padding="true" style="background: url(img/E6lMVRuLS7Wcw57kgs1q_image.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="loginForm-form1" class="list center-form">
      <div>
        <img src="img/yo4eCvjQIii9oef3f2B6_image1.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="loginForm-list1">
        <label class="item item-input item-floating-label top-input" id="loginForm-input1">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label bottom-input" id="loginForm-input2">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 290px; height: 21px;"></div>
      <a ui-sref="page" id="loginForm-button1" class="button button-positive  button-block">Log in</a>
      <a ui-sref="signUp" id="loginForm-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>